{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div id="app" class="container">        
        <div class="row">
            <div class="col-xs-12 col-sm-6 offset-sm-4">
                <h1>Movies2watch</h1>
            </div>
            <div class="input-group mb-3">
                <input v-on:keyup="searchMovie" v-model="search" type="text" class="form-control" placeholder="Entrez un film">             
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12" v-if="results.length">
                <h2>Résultats :</h2>
            </div>
            <div class="col-sm-4 col-xs-12" v-for="r in results">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" v-if="r.poster_path" v-bind:src="apiImg + r.poster_path" v-bind:alt="r.title">
                    <div class="card-body">
                    <h5 class="card-title">{{ r.title }}</h5>
                    <p class="card-text">{{ r.overview.slice(0, 255) }}...</p>
                    <p class="card-text"><small class="text-muted">Sortie : {{ r.release_date }}</small></p>
                    <button v-bind:id="r.id" v-on:click="addMovie" class="btn btn-primary" type="button">Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2>Films ajoutés</h2>
            </div>            
            <movie-item
                v-for="item in movies"
                v-bind:movie="item"
            ></movie-item>
        </div>
    </div>
    
{% endblock %}
