{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div id="movies-form" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 offset-sm-4">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 offset-sm-2">
            <input v-on:keyup="searchMovie" v-model="search" type="text" class="form-control" placeholder="Entrez un film">             
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12" v-if="results.length">
            <h2>Résultats :</h2>
        </div>
        <div class="col-sm-4 col-xs-12" v-for="r in results">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" v-if="r.poster_path" v-bind:src="apiImg + r.poster_path" v-bind:alt="r.title">
                <div class="card-body">
                    <h5 class="card-title">${ r.title }</h5>
                    <p class="card-text">${ r.overview.slice(0, 255) }...</p>
                    <p class="card-text"><small class="text-muted">Sortie : ${ r.release_date }</small></p>
                    <button v-bind:id="r.id" v-on:click="addMovie" class="btn btn-primary" type="button">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row" v-if="movies.length">
        <div class="col-xs-12 col-sm-12">
            <h2>Mes Films</h2>
        </div>
        <div class="card col-xs-4" style="max-width: 540px;" v-for="m in movies">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img v-bind:src="'https://image.tmdb.org/t/p/w780/' + m.image" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">${ m.titre }</h5>
                        <p class="card-text">${ m.synopsis.slice(0, 150) }...</p>
                        <p class="card-text"><small class="text-muted">Année de sortie :  ${ m.date.slice(0,4) }</small></p>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-primary btn-sm float-left" id="left" style="color:white"> 
                            Voir Fiche 
                        </button>
                        <button v-on:click="updateMovie(m.id, 0)" v-if="m.vue" class="btn btn-warning btn-sm" id="center" style="color:white"> 
                            Déjà Vue !
                        </button>
                        <button v-on:click="updateMovie(m.id, 1)" v-else class="btn btn-warning btn-sm" id="center" style="color:white"> 
                            Pas Vue !
                        </button>
                        <button class="btn btn-danger btn-sm float-right" id="right" style="color:white"> 
                            Supprimer
                        </button> 
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
