{% extends 'base.html.twig' %}

{% block title %}Mes Films{% endblock %}

{% block body %}
    <div id="movies-form">
        <div class="row">
            <div class="col-xs-12 col-sm-6 offset-sm-4">
                <h1>Mes Films</h1>
            </div>
        </div>
        <div class="row" v-if="movies.length">
            <div class="col-xs-12 col-sm-12">
                <select v-model="filtre" onchange="filtrerMovies(this.value)" id="filterMovies" class="form-control">
                    <option value="0">Tous</option>
                    <option value="1">Déjà Vus</option>
                    <option value="2">Pas encore vus</option>
                </select>
            </div>
            <div class="card col-xs-4" style="max-width: 540px;" v-for="m in movies">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img v-bind:src="'https://image.tmdb.org/t/p/w780/' + m.image" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">${ m.titre }</h5>
                            <p class="card-text">${ m.synopsis | formatSynopsis }...</p>
                            <p class="card-text"><small class="text-muted">Année de sortie :  ${ m.dateSortie | formatDate }</small></p>
                        </div>
                        <div class="card-footer text-right">
                            <a class="text-success" title="Je n'ai pas vue ce film" href="#"
                                v-on:click="updateMovie(m.id, 0, $event)" v-if="m.vue">
                                <i class="fas fa-check"></i>
                            </a>
                            <a class="text-warning" title="J'ai vue ce film !" href="#" 
                                v-on:click="updateMovie(m.id, 1, $event)" v-else>
                                <i class="far fa-square"></i>
                            </a>
                            <a class="text-danger" title="Supprimer ce film" href="#" 
                                v-on:click="deleteMovie(m.id)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}