{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Mes Informations</h1>
    {{ form(form) }}
{% endblock %}